# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.DS_Store

# Logs
*.log
logs/
veh/

# Dataset
data/
datasets/raw/
cifar_non_iid/
cifar_noniid_3groups_mixed/
cifar_noniid_9groups_split/

# Temporary test
test.py